.rps {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rps-btn {
    margin: 64px;
    background-color: blue;
    width: 200px;
    height: 100px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.score-container {
    display: flex;
    justify-content: space-between;
}